body{
    margin: 0 auto;
}



h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-bottom: 20px;
    margin: 0; 
}
h3{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 24px;
}


footer{
   text-align: center;
   font-family:'Poppins', sans-serif; 
   font-size: 18px;
   margin-top:auto; 
   
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/county-mayo.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 200px 0;
}
 a.learn-more{
font-weight:bold;
font-size: 15px;
line-height: 1.5;
text-align: center;
color: #272044;
padding: 16px 32px;
margin-top:40px;
display:block;
letter-spacing: 3px;
text-decoration: none;
text-transform: uppercase;
background: lightgray;
 }