body{
    background:#3f7104 ;
    
}

.container{
    max-width: 1400px;
margin:0 auto;
}


h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-bottom: 20px;
    margin: 0; 
}
header h3{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
}


footer{
   color:white;
   background-image:linear-gradient(rgba(61, 160, 46, 0.4), rgba(61, 160, 46, 0.4)), url(/images/ireland.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   font-family:'Poppins', sans-serif; 
   font-size: 18px;
   margin-top:auto; 
   padding:100px 0;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/county-mayo.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 200px 0;
    text-align: center;
}
header h1{
    font-size: 96px;
    font-weight: 700;
    margin: 30px 0;
}

 a.learn-more{
    margin-top: 40px;
  font-weight: 700;
    color:black;
    background:lightgray;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none; 
width: 150px;
font-family: 'Playfair Display', serif;
border-radius: 4px;

 }
 
 footer li{
    list-style: none;
    margin: 0;
    padding: 0;
 }
footer h3{
    font-family:'Poppins', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

}
footer ul{
    padding: 0;
    text-align: center;
}
footer p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
    text-align: center;
    font-family:'Poppins', sans-serif;
}
footer a{
    color:white;
    opacity: 0.7;
    
}
.grid{
    display: grid;
    grid-gap:64px;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
   
}

.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;
   
}
.grid-3-columns-with-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;

}
.text-center{
    text-align: center;
}
section{
   
    margin: 0 auto;
    padding: 100px;
    
   
    
}
section.secondary{
   background: #f9f7fe;
}

main h2{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:black;
    opacity: 0.3;
    text-align: center;
}
main h3{
    font-size: 30px;
    margin: 0;
    color:black; 
    text-align: center;
    font-family:'Poppins', sans-serif; 
    padding: 10px;
}
main h4{
    font-size: 24px;
    margin: 0;
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
main h5{
    font-size: 12px;
    margin: 0;
    color:black;
}
main p{
    font-style: normal;
    font-size: 16px;
    color:black;
    opacity: 0.7;
    font-family:'Poppins', sans-serif;
    text-align: center;
    
}
.card{
    background: white;
    margin: 30px 0;
}
.card-body{
    padding:30px;
    font-family:'Poppins', sans-serif;
    text-align: center;
}
.card-header.grid{
    grid-gap: 0;
}
.card-footer{
padding: 0 30px 30px;
}
.image-responsive{
max-width: 100%;
display: block;
aspect-ratio: 1/1;
}
.embed{
    width: 100%;
    aspect-ratio: 1/1;
}
.btn{
    display: block;
    color:white;
    background:#3f7104;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@media (max-width:960px){
    header{
        padding:60px 0;
    }
    header h1{
        font-size: 45px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size:12px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap:30px;
    }
    section{
        padding: 30px;
    }
    .card-header img{
display: none;
    }
    .embed{
        aspect-ratio: 16/9;
    }

}
@media(min-width:1500px){
    main{
  width:74%;
  margin-left: auto;
  margin-right: auto;
    }
}
main{
background-color: white;

}
